[Desktop Entry]
Categories=Calculator;
Exec=calculator
GenericName=calculator
Icon=/usr/share/pixmaps/calculator.xpm
Name=Calculator
Type=Application
X-KDE-StartupNotify=false
